<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
<link rel="stylesheet" th:href="@{/css/navbar.css}">
<link rel="stylesheet" th:href="@{/css/table.css}">

<title>Admin DashBoard</title>
</head>
<body>
  <!--Admin Navbar -->
 <header>
  <nav class="navbar navbar-expand-lg navbar-light mask-custom shadow-0 font-weight-bold">
    <div class="container">
      <a class="navbar-brand" th:href="@{/}"><span style="color: #5e9693;">Rakht</span><span style="color: #fff;">Bank</span></a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link" th:href="@{/admin/userProfiles}">Users</a></li>
          <li class="nav-item" sec:authorize="hasRole('ROLE_USER')"><a class="nav-link" th:href="@{/user/donate}">Donate</a></li>
          <li class="nav-item" sec:authorize="hasRole('ROLE_USER')"><a class="nav-link" th:href="@{/user/receive}">Seek</a></li>
          <li class="nav-item" sec:authorize="hasRole('ROLE_USER')"><a class="nav-link" th:href="@{/bloodsearch}">Blood Search</a></li>
          <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/allBanks}">Blood Banks</a></li>
          <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link" th:href="@{/admin/addbank}">Add BloodBank</a></li>
          <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/allCamps}">Campaigns</a></li>
          <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/organiseCamp}">Organise Camp</a></li>
          <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link" th:href="@{/admin/transaction}">Transactions</a></li>
          <li class="nav-item" sec:authorize="hasRole('ROLE_USER')"><a class="nav-link" th:href="@{/user/transaction}">Transaction</a></li>
        </ul>
        <ul class="navbar-nav d-flex flex-row" >
          <li class="nav-item me-1 me-lg-2" sec:authorize="hasRole('ROLE_USER')"><a class="nav-link" th:href="@{/user/userProfile}">User</a></li>
          <li class="nav-item me-3 me-lg-0" sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link" href="#!">Admin</a></li>
          <li class="nav-item me-3 me-lg-0"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
</header>
	   <h1 align="center">Requests</h1>
	
	<div class="table-responsive" th:unless="${#lists.isEmpty(app)}">
		<table class="table styled-table table-striped" id="trans">
	          <thead>
	      		<tr>
					<th scope="col" >ID</th>
					<th scope="col" >Date</th>
					<th scope="col" >Time</th>
					<th scope="col" >User</th>
					<th scope="col" >BloodBank</th>
					<th scope="col" >Approve</th>
					<th scope="col" >Decline</th>

				</tr>
				</thead>
				
				<tbody>
					<tr th:each="o : ${app}">
						<td th:text="${o.appointmentId}"></td>
						<td th:text="${o.date}"></td>
						<td th:text="${o.timeStamp}"></td>
						<td th:text="${o.user}"></td>
						<td th:text="${o.bloodBank}"></td>
						<td ><a th:href="@{/admin/approveapp/{id}(id=${o.appointmentId})}">Approve</a></td>
						<td><a th:href="@{/admin/declineapp/{id}(id=${o.appointmentId})}">Decline</a></td>
					</tr>
				</tbody>
			</table>
   </div>
   
	<div class="table-responsive" th:unless="${#lists.isEmpty(trans)}">
		<table class="table styled-table table-striped" id="trans">
	          <thead>
	      		<tr>
					<th scope="col" >ID</th>
					<th scope="col" >Blood Group</th>
					<th scope="col" >Blood Unit</th>
					<th scope="col" >Time Stamp</th>
					<th scope="col" >Cause</th>
					<th scope="col" >Status</th>
					<th scope="col" >Approve</th>
					<th scope="col" >Decline</th>

				</tr>
				</thead>
				
				<tbody>
					<tr th:each="obj : ${trans}">
						<td th:text="${obj.transId}"></td>
						<td th:text="${obj.bloodGroup}"></td>
						<td th:text="${obj.unitOfBloodGroup}"></td>
						<td th:text="${obj.timeStamp}"></td>
						<td th:text="${obj.cause}"></td>
						<td th:text="${obj.status}"></td>
						<td ><a th:href="@{/admin/approvetrans/{id}(id=${obj.transId})}">Approve</td>
						<td><a th:href="@{/admin/declinetrans/{id}(id=${obj.transId})}">Decline</td>
					</tr>
				</tbody>
			</table>
   </div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>