<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
<link rel="stylesheet" th:href="@{/css/navbar.css}">

<title>AddCampPage</title>
</head>
<body>
  <!--Admin Navbar -->
 <header>
  <nav class="navbar navbar-expand-lg navbar-light mask-custom shadow-0 font-weight-bold">
    <div class="container">
      <a class="navbar-brand" th:href="@{/}"><span style="color: #5e9693;">Rakht</span><span style="color: #fff;">Bank</span></a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link" th:href="@{/admin/userProfiles}">Users</a></li>
          <li class="nav-item" sec:authorize="hasRole('ROLE_USER')"><a class="nav-link" th:href="@{/user/donate}">Donate</a></li>
          <li class="nav-item" sec:authorize="hasRole('ROLE_USER')"><a class="nav-link" th:href="@{/user/receive}">Seek</a></li>
          <li class="nav-item" sec:authorize="hasRole('ROLE_USER')"><a class="nav-link" th:href="@{/bloodsearch}">Blood Search</a></li>
          <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/allBanks}">Blood Banks</a></li>
          <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link" th:href="@{/admin/addbank}">Add BloodBank</a></li>
          <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/allCamps}">Campaigns</a></li>
          <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link active" th:href="@{/organiseCamp}">Organise Camp</a></li>
          <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link" th:href="@{/admin/transaction}">Transactions</a></li>
          <li class="nav-item" sec:authorize="hasRole('ROLE_USER')"><a class="nav-link" th:href="@{/user/transaction}">Transaction</a></li>
        </ul>
        <ul class="navbar-nav d-flex flex-row" >
          <li class="nav-item me-1 me-lg-2" sec:authorize="hasRole('ROLE_USER')"><a class="nav-link" th:href="@{/user/userProfile/{username}}">User</a></li>
          <li class="nav-item me-3 me-lg-0" sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link" href="#!">Admin</a></li>
          <li class="nav-item me-3 me-lg-0"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
</header>
 <section class="vh-100">
  <div class="container-fluid h-custom mt-5 mb-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-4 col-lg-4 col-xl-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-5 rounded col-lg-5 col-xl-4 d-flex align-items-center justify-content-center bg-danger">
        <div class="col-md-8">

          <form th:action="@{/organiseCamp}" method="post" th:object="${camp}">

          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-center">
            <p class="lead fw-bold mb-0 fs-2 mt-5">Organise Campaign</p>
          </div>
          <hr class="hr hr-blurry" />       
          <!-- username input -->
          <div class="form-outline mb-2">
            <label class="form-label" for="form3Example3">Campaign Name</label>
            <input type="text" class = "form-control" id ="campName" th:field="*{campName}"
            placeholder="Enter Campaign Name" autofocus="autofocus" required="required" />
          </div>
          <div class="form-outline mb-2">
            <label class="form-label" for="form3Example4">Date</label>
           <input type="date" class = "form-control" id ="date" th:field="*{date}"
            placeholder="Enter date" autofocus="autofocus" required="required"/>
          </div>
          <div class="form-outline mb-2">
            <label class="form-label" for="form3Example4">Start Time</label>
            <input type="time" class = "form-control" id ="starttime" th:field="*{startTime}"
            placeholder="Enter Start time" autofocus="autofocus" required="required"/>
          </div>
          <div class="form-outline row">
            <div class="col-md-6 mb-2">
              <label class="form-label" for="form3Example4">End Time</label>
              <input type="time" class = "form-control" id ="endtime" th:field="*{endTime}"
              placeholder="Enter End time" autofocus="autofocus" required="required"/>
            </div>
            <div class="col-md-6 mb-2">
              <label class="form-label" for="form3Example4">Venue</label>
              <input type="text" class = "form-control" id ="venue" th:field="*{venue}"
              placeholder="Enter venue" autofocus="autofocus" required="required"/>
            </div>
          </div>
          <div class="form-outline row ">
          <div class="col-md-6 mb-2">
            <label class="form-label" for="form3Example4">District</label>
            <input type="text" class = "form-control" id ="district" th:field="*{district}"
            placeholder="Enter District" autofocus="autofocus" required="required"/>
          </div>
          <div class="col-md-6 mb-2">
            <label class="form-label" for="form3Example4">State</label>
            <input type="text" class = "form-control" id ="state" th:field="*{state}"
            placeholder="Enter State" autofocus="autofocus" required="required"/>
          </div>
          </div>
          <div class="form-outline mb-2">
            <label class="form-label" for="form3Example4">BloodBank Associated</label>
              <select th:field="*{bloodBankName}"  class="form-select" aria-label="Default select example">
                <option th:each="bank : ${banks}" th:value="${bank.bloodBankName}" th:text="${bank.bloodBankName}">Select BloodBank</option>
              </select>
          </div>
          <div class="form-outline mb-2">
            <label class="form-label" for="form3Example4">Request Cause</label>
            <input type="number" class = "form-control" id ="target" th:field="*{target}"
            placeholder="Enter Estimated Donation" pattern="" autofocus="autofocus" required="required"/>
          </div>
          <div class="text-center text-lg-start mt-4 pt-2 mb-5 justify-content-center align-items-center d-flex">
            <button class="btn btn-primary btn-md " type="submit"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Organize</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>