<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
<link rel="stylesheet" th:href="@{/css/navbar.css}">

<title>UpdateBankPage</title>
</head>
<body>
<form th:action="@{/submit}" method="post">
 <!--Admin Navbar -->
 <header>
  <nav class="navbar navbar-expand-lg navbar-light mask-custom shadow-0 font-weight-bold">
    <div class="container">
      <a class="navbar-brand" th:href="@{/}"><span style="color: #5e9693;">Rakht</span><span style="color: #fff;">Bank</span></a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link" th:href="@{/admin/userProfiles}">Users</a></li>
          <li class="nav-item" sec:authorize="hasRole('ROLE_USER')"><a class="nav-link" th:href="@{/user/donate}">Donate</a></li>
          <li class="nav-item" sec:authorize="hasRole('ROLE_USER')"><a class="nav-link" th:href="@{/user/receive}">Seek</a></li>
          <li class="nav-item" sec:authorize="hasRole('ROLE_USER')"><a class="nav-link" th:href="@{/bloodsearch}">Blood Search</a></li>
          <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link active" th:href="@{/allBanks}">Blood Banks</a></li>
          <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link" th:href="@{/admin/addbank}">Add BloodBank</a></li>
          <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/allCamps}">Campaigns</a></li>
          <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/organiseCamp}">Organise Camp</a></li>
          <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link" th:href="@{/admin/transaction}">Transactions</a></li>
          <li class="nav-item" sec:authorize="hasRole('ROLE_USER')"><a class="nav-link" th:href="@{/user/transaction}">Transaction</a></li>
        </ul>
        <ul class="navbar-nav d-flex flex-row" >
          <li class="nav-item me-1 me-lg-2" sec:authorize="hasRole('ROLE_USER')"><a class="nav-link" th:href="@{/user/userProfile}">User</a></li>
          <li class="nav-item me-3 me-lg-0" sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link" href="#!">Admin</a></li>
          <li class="nav-item me-3 me-lg-0"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
</header>
	<h1 align="center">Add Blood Bank</h1>
	<div>
	Enter Blood Bank Name: <br><input type="text" class = "form-control" id ="bankname" name = "bankname"
						placeholder="Enter Blood Bank Name" autofocus="autofocus" required="required"><br>
	</div><br>
	<div>	
	Enter Contact: <br><input type="text" class = "form-control" id ="contact" name = "contact"
						placeholder="Enter contact" autofocus="autofocus" required="required"><br>
	</div><br>
	<div>
	Enter Email: <br><input type="email" class = "form-control" id ="email" name = "email"
						placeholder="Enter Email ID" autofocus="autofocus" required="required"><br>
	</div><br>
	<div>	
	Enter Address: <br><input type="text" class = "form-control" id ="address" name = "address"
						placeholder="Enter address" autofocus="autofocus" required="required"><br>
	</div><br>
	<div>
	Enter District: <br><input type="text" class = "form-control" id ="district" name = "district"
						placeholder="Enter District" autofocus="autofocus" required="required"><br>
	</div><br>	
	<div>
	Enter State: <br><input type="text" class = "form-control" id ="state" name = "state"
						placeholder="Enter State" autofocus="autofocus" required="required"><br>
	</div><br>
	<div>	
	Enter Pincode: <br><input type="number" class = "form-control" id ="pincode" name = "pincode"
						placeholder="Enter Pincode" pattern="" autofocus="autofocus" required="required"><br>
	</div><br>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-primary" value="Add Bank" />
			</div>			
		</div>
	</div>
	
</form>
</body>
</html>