table {
   margin: auto;
   margin-top: 65px;
   width: 60% !important; 
}

.styled-table {
    border-collapse: separate;
    border-spacing:  0 1em;
    font-size: 18px;
    min-width: 400px;
}
.styled-table thead tr {
    
    background-color:rgba(201, 83 , 79) ; 
    font-size: 22px;  
    font-family: "Times New Roman", Times, serif;  
    text-align: center;
    border-bottom: 3px solid #000000;   
    box-shadow: 0 0 20px rgba(0,0,0,0.35)
     
}
.styled-table thead th, .styled-table thead td {
    padding: 14px 15px;
}

.styled-table th, .styled-table td {
    padding: 10px 15px;
}
.styled-table tbody tr {
    background-color:rgba(255, 255, 255); 
    color: white;
    text-align: center;
    border-bottom: 2px solid #000000;
    box-shadow: 0 0 20px rgba(0,0,0,0.35)
}
.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: rgba(217, 83, 79); 
 }